@font-face {
    font-family: Norse;
    src: url("https://ilyaeru.github.io/TOP-Project-Sign-up-Form/Norse-Bold.otf");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
}

body{
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    margin: 0 10%;
    min-height: 100vh;
    background-color: #111;
}

header{
    display: flex;
    align-items: center;
    position: relative;
    min-height: 100vh;
    background-image: url(../img/gabriel-tovar-unsplash_600.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-logo{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 0.25em;
    background-color: hsla(0, 0%, 0%, 0.502);
    color: #fafafa;
    font-size: 3em;
}

.img-logo{
    width: 75px;
    height: auto;
}

.logo-font{
    display: inline;
    font-weight:lighter ;
}

.img-credit{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(242, 242, 242, 0.526);
}

main{
    background-color: hsl(0, 0%, 93%);
}

.sec-top{
    padding-top: 5em;
    padding-bottom: 4em;
}

.sec-form{
    padding-top: 1em;
    padding-bottom: 1em;
}

.slogan{
    padding-top: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.sec-top,
.cta,
.form-inputs,
.btn-create,
.log-in{
    padding-left: 3rem;
    padding-right: 6em;
}

.cta{
    font-size: 2em;
}

.cta, 
.form-inputs{
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

input{
    font-size: 0.9em;
    border: solid #E5E7EB 1px;
    border-radius: 3px;
    padding: 0.25em;
    color: hsl(240, 30%, 50%);
}

.form-inputs div{
    display: flex;
    gap: 2em;
    margin-bottom: 1em;
}

.form-inputs span{
    display: flex;
    flex-direction: column;
}

.form-inputs label,
.req{
    font-size: 65%;
    letter-spacing: 0.2ch;
}

.form-inputs .hint{
    flex-direction: row;
    font-size: 85%;
    color: #666;
}

p.pwd-info{
    margin-top: .25em;
    font-size: 75%;
    color: #fafafa;
    background-color: #030303;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    text-align: center;
    cursor: pointer;
}

.img-hero{
    width: 100%;
    height: 100vh
}

.logo-font{
    font-family: Norse;
}

button{
    margin: 3em 0;
    padding: 0.75em 3.5em;
    background-color: hsl(92, 20%, 35%);
    color: #fafafa;
    border: none;
    border-radius: .4em;
    font-weight: 600;
    cursor: pointer;
}